/* estilo css */

/* Interpretação de lingua */
@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'cal sans';
}

body{
    background-color: #fafafaf1;
}

.fundo-fixo{
    background: url(../images/banners/banner-fire.png) no-repeat ;
    background-color: #fff;
    -webkit-background-size: cover;
    height: 960px;
}


nav{
    backdrop-filter: blur(0.5rem);
    background-color: rgba(0, 0, 0, 0.3);
}

.dropdown-menu{
    border: none;
}

.name-project{
    color: #92140c;
}

.paragraph-header{
    font-family: 'jost';
    font-weight: 500;
    font-size: 19px;
}

main{
    padding-top: 80px;
    border-radius: 8px;
    /* background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); */
}

.title-name{

}

.card-container{
    background-color: #fff;
    border-radius: 10px;
}
.card{
    border:none;
}

.card-img-top{
    border-radius: 10px 10px 0 0 ;
}

.card-text{
    font-family: 'jost';
    font-weight: 500;
}
.btn-cardapio{
    background-color: #fff;
    width: 100px;
}

.paragraph{
    font-family: 'jost';
    font-weight: 500;
    font-size: 18px;
}

li{
    list-style: none;
}

.btn-dark{
    border: none;
    background-color: #000;
}

.bg{
    background-color: #0c0f0a;
}

footer{
    background-color: #0c0f0a;
}